/* Centralizar o conteúdo na tela */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilização do conteúdo */

.content {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    border-bottom: none; 
}

.content2 {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    border-top: none; 
}

/* Estilização da coluna esquerda (imagem e título "Detalhes") */
.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

/* Estilização da imagem */
.left-column img {
    max-width: 350px; 
    border-radius: 8px;
    margin-bottom: 10px; 
}

/* Estilização da coluna direita (textos principais) */
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilização do texto */
.text {
    font-family: Arial, sans-serif;
    color: #000000;
}

.left-column h3 {
    margin-top: 10px; /* Espaço entre a imagem e o título "Detalhes" */
    text-align: center;
}

.Detalhes {
    font-size: 30px;
}

.lista {
    list-style: none;
}

.lista p {
    font-family: Arial, sans-serif;
    line-height: 0.5;
    font-size: 20px;
}

.negrito {
    font-weight: bold;
}

hr {
    border: none; 
    border-top: 2px solid #4d4b4b; 
    width: 100%;
    margin-top: 50px; 
}

.cartoes {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.price {
    color: #10be64;
}
.meios-pagamento {
    text-align: center;
}

/* coluna central ============================================================== */
.center-column {
    display: flex;
    flex-direction: column;
    margin-top: none;
}


/* CSS do botão compra ========================================================= */

.botao-compra {
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  }
  
  .botao-compra:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    background-color: #008542 !important;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
      0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
      4px 0 rgb(21 108 0 / 50%) inset;
  }
  
  .botao-compra:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  }
  
  .botao-compra:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
      -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
  }
  
  .botao-compra:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  
  .botao-compra:active {
    transform: translateY(4px);
  }
  
  .botao-compra:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
  }
  

.toggle-content {
    display: none; 
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0; 
    margin-top: 10px;
}

.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #008542;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #006a34;
}

.show {
    display: block;
    max-height: 1000px; 
}



