#body_home {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../Imagens/SkilletPlanoFundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: batman-forever;
    src: url(../font/batman_forever/batmfa__.ttf);
}

#head {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro e transparente */
}

.logo img {
    filter: drop-shadow(7px -7px 7px #000);
    width: 550px;
    height: 150px;
}

.menu_navegacao ul {
    font-family: batman-forever;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 125px;
    padding: 10;
    gap: 20px;
}

.menu_navegacao ul li {
    display: inline-block;
}

.menu_navegacao ul li a {
    text-decoration: none;
    color: white; /* Texto branco */
    padding: 10px 20px; 
    margin: 5px;
    display: block;
    background-color: #b22222; /* Vermelho escuro */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.menu_navegacao a:hover {
    text-decoration: none;
    color: #ffcc00; /* Amarelo claro ao passar o mouse */
    transform: scale(1.3);
    text-decoration: none;
}

.container_menu {
    width: 900px;
}

#conteudo {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro para a área de conteúdo */
    padding: 20px;
    margin: 10px;
    max-width: 700px;
    font-size: 20px;
    color: white; /* Texto branco */
    border-radius: 10px; /* Bordas arredondadas */
}

.texto {
    cursor: default;
}

/* CSS da Discografia =====================================================================*/

#body_discografia {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18182e;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo_discografia {
    color: #e0e0e0a6;
    margin: 15px;
    max-width: 75%; /* Limite a largura */
    align-items: center;
    display: flex; /* Adicione flex para permitir alinhamento */
    flex-direction: column; /* Mantenha os elementos em coluna */
}

#discografia {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os álbuns */
    flex-direction: row;
}

.img_album {
    width: 350px;
    height: 350px;
}

.album {
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_albuns {
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: bold;
    cursor: default;
}

/* CSS da Agenda =====================================================================*/
#body_agenda {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18182e;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}
#conteudo_agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo_agenda h1 {
    font-family: batman-forever;
}
.lista_agenda {
    width: 1000px;
}

.item_agenda {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 5px 0;
    font-size: 14px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
}
.data {
    font-weight: bold;
    margin: 7px;
    padding: 0;
}
.local {
    margin: 7px;
    padding: 0;
}
.banda {
    margin: 7px;
    padding: 0;
}

.botao_ingresso {
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #e05744;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50%;
    align-items: end;
    justify-content: end;
}
.botao_ingresso a {
    text-decoration: none;
    color: #fff;
}

.botao_ingresso:hover {
    background-color: #d04d3c;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.info_evento {
    width: 1000px;
}
/* CSS do historico =====================================================================*/
#body_historico {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18182e;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#conteudo_historico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    color: white; 
    border-radius: 10px; 
}

/* CSS dos componentes =====================================================================*/

#body_integrantes {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18182e;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#conteudo_integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    color: white; 
    border-radius: 10px; 

}
